<div>
  <h2>List</h2>
  <ul>
    <!-- Aquí puedes agregar elementos de lista -->
    <li>
      <img
        src="https://media.revistagq.com/photos/5e045ff988d9060008f139b9/1:1/w_669,h_669,c_limit/jake-lloyd-interprete-anakin-skywalker-esquizofrenia.jpg">
      Anakin Skywalker
    </li>
    <li>
      <img src="https://comicvine.gamespot.com/a/uploads/scale_small/7/73290/1358702-jango.jpg"> Jango Fett
    </li>
    <li>
      <img src="https://cloudfront-us-east-1.images.arcpublishing.com/copesa/JMMT2QFDYVDDNJIAOCOM6IWMUI.jpg"> Gran Inquisidor
    </li>
  </ul>
</div>